.Button-component {
  padding: 10px;
  margin: 15px;

  width: 140px;
  height: 50px;

  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #f9f9f9;
  border-radius: 10px;
  border: 4px solid transparent;
  cursor: pointer;
}

.Button-component:hover {
  transform: translateY(-5px);
  transition: transform .18s ease-in-out;
}

.Button-component.red {
  background: #dd567e;
  border-color: #c93964;
}

.Button-component.blue {
  background: #4eafc9;
  border-color: #2a89a2;
}

.Button-component.green {
  background: #4ec96b;
  border-color: #2aa230;
}
